.env
.idea
.tmp/
.sublime-project
.DS_Store
*.sublime-project
coverage/
dist/
node_modules/
public/stylesheets/css
public/stylesheets/.sass-cache
public/bower_components/
tmp/
tmpUploads/
uploads/
npm-debug.log
info.md
wip.md
.DS_Store
public/currenthome.html
*.log
src/
*.sass-cache
*.un~
