<div class="page-wrap" layout="column" layout-align="center center">
  <!-- <img src="http://cl.ly/image/373Q201k280M/download/Image%202015-03-11%20at%201.22.57%20AM.png"/> -->

  <!-- <md-text-float label="Username" ng-model="userEdit.user.nickname"></md-text-float> -->

  <!-- <div layout="row" layout-margin>
       <div flex flex-order="3">
    	 [flex-order="3"]
       </div>
       <div flex flex-order="2">
    	 [flex-order="2"]
       </div>
       <div flex flex-order="1">
    	 [flex-order="1"]
       </div> -->



  <md-tabs class="md-accent">

    <md-tab label="Donut Chart"><center><br>
	<div ng-controller="DonutCtrl">
	  <div class="span9">
	    <div id='DonutChart' class='span4'>
	      <svg style='height:500px;width:400px'> </svg>
	    </div>


	  </div>

    </center></md-tab>


    <md-tab label="Stacked Area Chart"><center><br>
	<div ng-controller="StackedAreaCtrl">
	  <select ng-model="selectedRepo" ng-options="repo for repo in repos">
	  </select> 
	  {{drawChart()}}
	  <div class="span9">
	    <div id='stackedAreaChart' class='span4'>
	      <svg style='height:500px;width:1000px'> </svg>
	    </div>


	  </div>

    </center></md-tab>

    <md-tab label="Cumulative Line Chart"><center><br>
	<div ng-controller="ClineCtrl">
	  <select ng-model="selectedRepo" ng-options="repo for repo in repos">
	  </select> 
	  {{drawChart()}}
	  <div class="span9">
	    <div id='cumulativeLineChart' class='span4'>
	      <svg style='height:500px;width:1000px'> </svg>
	    </div>


	  </div>

    </center></md-tab>


  </div>
