<div layout="column" layout-align="center center">
 New Content
	<md-text-float label="Username" ng-model="userEdit.user.nickname"></md-text-float>

	<!-- <div layout="row" layout-margin>
  	<div flex flex-order="3">
    	[flex-order="3"]
  	</div>
  	<div flex flex-order="2">
    	[flex-order="2"]
  	</div>
  	<div flex flex-order="1">
    	[flex-order="1"]
    </div> -->

  

	<md-tabs class="md-accent">
	  	<md-tab label="Tab #1Tab #1">graph1</md-tab>

	  	<md-tab label="Tab #2Tab #1">graph2</md-tab>

	  	<md-tab label="Tab #3Tab #1">graph3</md-tab>

	  	<md-tab label="Tab #3Tab #1">graph3</md-tab>

	  	<md-tab label="Tab #3Tab #1">graph3</md-tab>

	  	<md-tab label="Tab #3Tab #1">graph3</md-tab>
	</md-tabs>
	

</div>
